body {
    margin: 0;
    background-color: #1c1c1c;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}

.website-header {
    display: flex;
    justify-content: space-around;
    height: max-content;
    border-bottom-style: solid;
    border-color: rgb(233, 233, 233);
    border-width: 1px;
}

.website-header .left {
    display: flex;
    justify-content: space-around;
}

.header-logo {
    margin: 3px;
}

.header-logo img {
    height: 40px;
    width: auto;
    margin: 3px;
}

.header-profile img {
    height: 40px;
}

.header-title {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
}

.website-header .right {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-navigation {
    display: flex;
    justify-content: space-around;
}

.header-navigation div {
    margin: 3px;
    margin-right: 10px;
}

.header-profile {
    margin: 3px;
}

.header {
    display: flex;
    font-weight: bold;
    font-size: 56px;
    justify-content: center;
}

.menu-container {
    display: flex;
    font-weight: bold;
    font-size: 20px;
    justify-content: space-around;
    border-style: solid;
    background-color: #262525;
}

.menu-container a {
    color: white;
}

.home-body {
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}

.home-section {
    display: flex;
    justify-content: center;
    height: max-content;
    width: 900px;
    margin-top: 25px;
    background-color: #262525;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
}


.lower-home-section {
    display: flex;
    margin-top: 25px;
    width: 900px;
}

.left-lower {
    background-color: #262525;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    margin-right: 15px;
}

.right-lower {
    background-color: #262525;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
}

.section-header {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin: 10px;
}

.section-info {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.section-subtext {
    margin: 10px;
}

.section-subtext div {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.footer {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    border-top-style: solid;
    border-width: 1px;
    height: max-content;
}

.top-logo {
    display: flex;
    margin-top: 10px;
}

.logo img {
    height: 50px;
    width: auto;
}

.logo-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-left: 5px;
}

.footer .right {
    margin-top: 10px;
}

/* Vocabulary Page */

.container-header {
    display: flex;
    justify-content: center;
    font-size: 22px;
    margin-top: 15px;
}

.level-section a {
    font-size: 50px;
    background-color: #262525;
    color: white;
}

.level-section button {
    height: 200px;
    width: 500px;
    border-radius: 10px;
    background-color: #262525;
}

.level-container {
    display: flex;
    justify-content: center;
}

.level-section {
    margin-top: 15px;
}

.alpha-title {
    display: flex;
    justify-content: center;
    font-size: 24px;
    margin-top: 10px;
}

.alpha-list {
    display: flex;
    justify-content: space-evenly;
}

.alpha-list .first {
    width: 400px;
}

.alpha-list .second {
    width: 400px;
}

.alpha-list .third {
    width: 400px;
}

.alpha-list .forth {
    width: 400px;
}

/* Grammar Style */






/* Phrases Style */






/* Daily Study Style */

.weekly-set {
    height: auto;
    width: max-content;
    border-style: solid;
    margin-top: 20px;
    border-color: #4c4c4c;
    margin: 10px;
}

.week-title {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 22px;
}

.day-container {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.days-container {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
}

.day-button button {
    height: 25px;
    width: 80px;
    margin: 5px;
    font-size: 15px;
    background-color: #4c1818;
    border-radius: 10px;
}

.day-button a {
    color: white;
}

.days-container .clear {
    color: #1c1c1c;
    background-color: #1c1c1c;
    border-color: #1c1c1c;
    margin: 5px;
    font-size: 1px;
    width: 75px;
    border-radius: 0px;
}

/* Daily Practice Style */

.daily-vocab-container {
    margin-top: 15px;
}

.daily-vocab-container .section-header {
    font-size: 28px;
    font-weight: bold;
}

.vocab-container div {
    font-size: 14px;
}

.translate-container div {
    font-size: 14px;
}


.vocab-container .top {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
    margin-bottom: 5px;
}

.vocab-container .top div {
    height: auto;
    width: 150px;
}

.vocab-container .middle {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
    margin-bottom: 5px;
}

.vocab-container .middle div {
    height: auto;
    width: 150px;
}

.vocab-container .bottom {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
    margin-bottom: 5px;
}

.vocab-container .bottom div {
    height: auto;
    width: 150px;
}

.vocab-container .bottom .clear {
    color: #1c1c1c;
}

.daily-translate-container {
    margin-top: 15px;
}

.daily-translate-container .section-header {
    font-size: 28px;
    font-weight: bold;
}

.translate-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
    margin-bottom: 5px;
}

.translate-container div {
    margin: 5px;
}

.grammar-container .top div {
    height: auto;
    width: 150px;
}

.grammar-container .bottom {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
    margin-bottom: 5px;
}

.grammar-container .bottom div {
    height: auto;
    width: 150px;
}

.daily-exercise-container {
    margin-top: 15px;
}

.daily-exercise-container .section-header {
    font-size: 28px;
    font-weight: bold;
}