body {
    margin: 0;
    background-color: #1c1c1c;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}

.header {
    display: flex;
    font-weight: bold;
    font-size: 56px;
    justify-content: center;
}

.menu-container {
    display: flex;
    font-weight: bold;
    font-size: 20px;
    justify-content: space-around;
    border-style: solid;
    background-color: #262525;
}

.menu-container a {
    color: white;
}

.home-section {
    height: auto;
    margin-top: 15px;
    background-color: #262525;
    border-style: solid;
}

.section-header {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.section-info {
    display: flex;
    justify-content: center;
}

.section-subtext div {
    display: flex;
    justify-content: center;
}

/* Vocabulary Page */

.container-header {
    display: flex;
    justify-content: center;
    font-size: 22px;
    margin-top: 15px;
}

.level-section a {
    font-size: 50px;
    background-color: #262525;
    color: white;
}

.level-section button {
    height: 200px;
    width: 500px;
    border-radius: 10px;
    background-color: #262525;
}

.level-container {
    display: flex;
    justify-content: center;
}

.level-section {
    margin-top: 15px;
}

.alpha-title {
    display: flex;
    justify-content: center;
    font-size: 24px;
    margin-top: 10px;
}

.alpha-list {
    display: flex;
    justify-content: space-evenly;
}

.alpha-list .first {
    width: 400px;
}

.alpha-list .second {
    width: 400px;
}

.alpha-list .third {
    width: 400px;
}

.alpha-list .forth {
    width: 400px;
}

/* Grammar Style */






/* Phrases Style */






/* Daily Study Style */

.weekly-set {
    height: auto;
    border-style: solid;
    margin-top: 80px;
    border-color: #4c4c4c;
}

.week-title {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 22px;
}

.days-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 10px;
}

.day-button button {
    height: 40px;
    width: 100px;
    font-size: 22px;
    background-color: #4c1818;
    border-radius: 10px;
}

.day-button a {
    color: white;
}

.clear {
    color: #1c1c1c;
    background-color: #1c1c1c;
    border-color: #1c1c1c;
    font-size: 1px;
    width: 100px;
    border-radius: 0px;
}

/* Daily Practice Style */

.daily-vocab-container {
    margin-top: 15px;
}

.daily-vocab-container .section-header {
    font-size: 28px;
    font-weight: bold;
}

.vocab-container .top {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
    margin-bottom: 5px;
}

.vocab-container .top div {
    height: auto;
    width: 150px;
}

.vocab-container .middle {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
    margin-bottom: 5px;
}

.vocab-container .middle div {
    height: auto;
    width: 150px;
}

.vocab-container .bottom {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
    margin-bottom: 5px;
}

.vocab-container .bottom div {
    height: auto;
    width: 150px;
}

.vocab-container .bottom .clear {
    color: #1c1c1c;
}

.daily-translate-container {
    margin-top: 15px;
}

.daily-translate-container .section-header {
    font-size: 28px;
    font-weight: bold;
}

.translate-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
    margin-bottom: 5px;
}

.translate-container div {
    margin: 5px;
}

.grammar-container .top div {
    height: auto;
    width: 150px;
}

.grammar-container .bottom {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
    margin-bottom: 5px;
}

.grammar-container .bottom div {
    height: auto;
    width: 150px;
}

.daily-exercise-container {
    margin-top: 15px;
}

.daily-exercise-container .section-header {
    font-size: 28px;
    font-weight: bold;
}